body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.calculator {
    border: 7px rgba(238, 236, 231, 0.802) solid;
    background-color: hsl(220, 30%, 40%);
    border-radius: 20px;
    height: 50vh;
    width: 38vh;
    display: flex;
    flex-direction: column;
    padding: 3vh;
    justify-content: stretch;
}

.bottom-half-container {
    margin-top: auto;
    display: flex;
    justify-content: stretch;
    gap: 1vh;
    flex: 1;
    margin-top: 4%;
}

.bottom-half-button {
    flex: 1;
    border: 4px rgba(0, 0, 0, 0.340) solid;
    border-radius: 60px;
    box-shadow:2px 1px 7px 1px hsla(0, 0%, 0%, 0.454);
}


.top-half-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 6.5;
    margin-top: 8%;
}

.top-half-button {
    width: 23%;
    height: 23%;
    border: 4px rgba(0, 0, 0, 0.340) solid;
    border-radius: 40px;
    box-shadow:2px 1px 3px 1px hsla(0, 0%, 0%, 0.454);
    background-color: hsla(228, 50%, 24%, 0.292);
    color: whitesmoke;
}

.display {
    flex: 1.5;
}