body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.calculator {
    border: 7px rgba(238, 236, 231, 0.802) solid;
    background-color: hsl(220, 30%, 40%);
    border-radius: 10px;
    height: 50vh;
    width: 38vh;
    display: flex;
    flex-direction: column;
    padding: 3vh;
    justify-content: stretch;
}

.bottom-half-container {
    margin-top: auto;
    display: flex;
    justify-content: stretch;
    gap: 3vh;
    flex: 1;
}

.bottom-half-button {
    flex: 1;
}

.top-half-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 8;
}

.top-half-button {
    width: 23%;
    height: 23%;
}